---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24 section-container">
  <h2
    class="mb-14 font-serif text-4xl font-bold tracking-tighter md:text-5xl text-theme-primary"
  >
    {text}
  </h2>
  <slot />
</section>
